.navy {
  z-index: 1000;
  opacity: 0.85;
}

.nav-link {
  cursor: pointer;
}

.nav-link.header-link:hover {
  color: var(--blue-color);
}

.navy-black {
  background-color: black;
}

.navy-black .nav-link {
  color: white;
}

.toggle-button {
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.bar1,
.bar2,
.bar3 {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.nav-drop-toggle {
  background-color: black;
  border: none;
}

.nav-drop-toggle:hover {
  color: var(--blue-color);
}

.nav-drop-toggle:hover {
  background-color: black;
}

.drop-menu-nav {
  background-color: black;
  height: 57vh;
  overflow-y: scroll;
}

.drop-menu-nav::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.drop-menu-nav::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

@media (max-width: 992px) {
  .toggle-button {
    display: flex;
    transition: all 0.5s ease-in-out;
  }

  .navy {
    height: 10vh;
  }

  .navbar-header {
    position: absolute;
    bottom: -80vh;
    min-height: 80vh;
    width: 80vw;
    background-color: #363333;
    left: -80vw;
    transition: all 0.5s ease-in-out;
  }

  .nav-drop-toggle {
    background-color: #363333;
  }

  .nav-link.nav-link.header-link,
  .nav-drop-toggle {
    padding: 15px;
    color: #d2cbcb;
    text-transform: uppercase;
    font-weight: 700;
  }

  .toggle-button.open .bar2 {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .toggle-button.open .bar1 {
    transform: rotate(45deg) translate(0px, 13px);
    background-color: gray;
  }
  .toggle-button.open .bar3 {
    transform: rotate(-45deg) translate(0px, -13px);
    background-color: gray;
  }

  .navbar-header.open {
    left: 0px;
    transition: all 0.5s ease-in-out;
  }

  .dropdown-menu.show {
    position: absolute;
    width: 80vw;
  }
}
