body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

:root {
  --blue-color: #3e77ee;
  --dark-color: #213a4c;
  --cream-color: #f6f6f5;
}

.signika {
  font-family: "Signika", sans-serif;
}

.oxygen {
  font-family: "Oxygen", sans-serif;
}

.blue-color {
  color: var(--blue-color);
}

.dark-color {
  color: var(--dark-color);
}

hr {
  opacity: 1;
}

.hover {
  cursor: pointer;
}

.cream-bg {
  background-color: var(--cream-color);
}
